body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: purple;
  }
  
  .star-rating {
    display: inline-block;
    font-size: 40px;
    color: gray;
  }
  
  .star {
    cursor: progress 3s ease;
    background-color: gold;
    border-radius: 40px;
    padding: 100px;

  }
  
  .star:hover,
  .star.selected {
    color: red;
    color: blue;
    <style type="text/css">
div { color:gap: ; ;}
</style>
  }
  
  #rating {
    font-weight: bolder;
  }
