body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: purple;
  }
  
  .star-rating {
    display: inline-block;
    font-size: 200px;
    color: gray;
  }
  
  .star {
    cursor: pointer 2s ease;
    background-color: black;
    border-radius: 30px;
    padding: 200px;
  }
  
  .star:hover,
  .star.selected {
    color: green;
  }
  
  #rating {
    font-weight: bold;
  }