#box1{
  width: 250px;
  height: 250px;
  background: blue;
  font-size: 225;
  text-align: center;

   animation: myslide;
   animation-duration: 5s;
}

@keyframes myslide {
    from{left: 30%;}
     to{left: 0%;}
  
}